header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: var(--header-height);
  z-index: 1000;
}
.gm {
  font-size: 1.8rem;
  background: linear-gradient(
    135deg,
    var(--primary-color),
    var(--secondary-color)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}
.header-right-side {
  color: white;

  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
  max-width: 500px;
}

.header-right-side .btn-hire-me {
  padding: 7px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  background: linear-gradient(
    135deg,
    var(--primary-color),
    var(--secondary-color)
  );
}
