
hr{
    margin-top: 80px;
    border: none;
    height: 1px;
    background-color: var(--border-color-container)
}

.footer-description{
    margin-top: 30px;
    text-align: center;
    color: var(--text-gray-color);
    font-size: 1.1rem;
}

@media (width<=768px){
    hr{
        margin-top: 60px;
    }

    .footer-description{
        font-size: 0.9rem;
    }
}